doctype html
html
  head
    title= title
    ul
        li
            a(href= '/Dad') Dad
        li
            a(href= '/Mom') Mom
        li
            a(href= '/Akshay') Akshay 
        li
            a(href= '/Bhai') Bhai
            
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content